body {
  background-color: plum;
}
body {
    margin: 0;
    padding: 0;
  }
#banner {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100%; height: 225px;
    padding-top: 20px;
    }
    a {
      text-decoration: none;
    }
    p {
      color: MidnightBlue;
      font-size: 18px;
      font-family: 'Inconsolata', monospace;
      font-family: 'Domine', serif;
      font-family: 'Forum'cursive;
    }
h1 {
  color: darkgreen;
  font-family: 'Marck Script', cursive;
  font-size: 60px;
}
h2 {
  color: MidnightBlue;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 70px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 50%;
}
img {
    border-radius: 8px;
    a:link {
    text-decoration: none;
}
