body {
  background-color: plum;
}
.float-right {
    float: right;
  }
  .float-left {
      float: left;
    }
}
body {
    margin: 0;
    padding: 0;
  }
  .header {
    background-position: center;
    background-size: cover;
    width: 100%; height: 250px;
}​
/* #banner {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100%; height: 225px;
    padding-top: 20px;
    } */
    a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: firebrick;
}
    a:link {
    font-style: italic;
}

a:hover {
  border-bottom: 1px solid;
  background: yellow;
}
    p {
      color: MidnightBlue;
      font-size: 24px;
      font-family: 'Bree Serif', serif;
      padding-top: 40px;
      padding-bottom: 100px;
    }
    h1 {
      color: MidnightBlue;
      font-family: 'Spirax', cursive;
      text-align: center;
      font-size: 50px;
      padding-top: 100px;
    }
    h3 {
      color: MidnightBlue;
      font-family: 'Lato', sans-serif;
      font-family: 'Courgette', cursive;
      text-align: center;
      font-size: 30px;
      padding-bottom: 80px;
    }
h2 {
  color: MidnightBlue;
  font-family: 'Lato', sans-serif;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 70px;
  padding-top: 10px;

}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 50%;
    border-radius: 100px;
    padding-top: 20px;
}
